{% extends "layout.njk"%}

 {% block head%}
     <title>Thiago</title>
    {%endblock%}

{% block content %}




    <div id="Perfil">
        <img src="https://avatars1.githubusercontent.com/u/57600875?s=460&u=eb2ce80cac4db4ac3cbb78e5b7862890060d58f5&v=4"
            alt="Thiago">
        <h1>Thiago</h1>
        <h2>Estudante de Javascript</h2>
        <p>Programador - Colaborador da<a href="https://www.accenture.com/br-pt" target="_blank">Accenture</a> </p>
    </div>

    <div id="rodape">
        <a href="https://github.com/Thiagosilvaguitar" target="_blank">Github</a>
        <a href="/">Twitter</a>
        <a href="/">Linkedin</a>
    </div>

{%endblock%}

